@font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir-Regular-UI.woff2") format("woff2"), url("../fonts/Vazir-Regular-UI.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
