@page "/products/create"
@rendermode InteractiveServer
@using BlazorProductsCRUD.Models
@using BlazorProductsCRUD.Services

@inject ProductService ProductService
@inject NavigationManager Navigation

<h3>Create Product</h3>

<EditForm Model="product" OnValidSubmit="Save" FormName="CreateProduct">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>Name</label>
        <InputText class="form-control"
                   @bind-Value="product.Name" />
    </div>

    <div class="mb-3">
        <label>Description</label>
        <InputTextArea class="form-control"
                   @bind-Value="product.Description" />
    </div>

    <div class="mb-3">
        <label>Price</label>
        <InputNumber class="form-control"
                   @bind-Value="product.Price" />
    </div>

    <button type="submit" class="btn btn-primary">
        Save
    </button>

    <a href="/products"
       class="btn btn-secondary ms-2">
        Cancel
    </a>

</EditForm>

@code {

    private Product product = new();

    private async Task Save()
    {
        await ProductService.AddAsync(product);

        Navigation.NavigateTo("/products");
    }

}